<section class="contentContainer">
  <div class="featureGridContainer">
    <div class="item">
      <div class="image">
        <img
          height="100"
          class="image"
          width="100"
          ngSrc="https://merchandising-assets.bestbuy.ca/bltc8653f66842bff7f/blt6b8181061871ba8b/651321322a06d7c905f4f311/wt-20231004-offer-pixel-watch2-2across-xs.jpg?width=828&quality=80&auto=webp"
        />
      </div>
      <div>
        <h3 class="title">lorem ipsum</h3>
        <div class="desc">
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
        </div>
        <div class="price">Rs 100</div>
        <div class="link">Shop now</div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img
          height="100"
          class="image"
          width="100"
          ngSrc="https://merchandising-assets.bestbuy.ca/bltc8653f66842bff7f/blt6b8181061871ba8b/651321322a06d7c905f4f311/wt-20231004-offer-pixel-watch2-2across-xs.jpg?width=828&quality=80&auto=webp"
        />
      </div>
      <div>
        <h3 class="title">lorem ipsum</h3>
        <div class="desc">
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
        </div>
        <div class="price">Rs 100</div>
        <div class="link">Shop now</div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img
          height="100"
          class="image"
          width="100"
          ngSrc="https://merchandising-assets.bestbuy.ca/bltc8653f66842bff7f/blt6b8181061871ba8b/651321322a06d7c905f4f311/wt-20231004-offer-pixel-watch2-2across-xs.jpg?width=828&quality=80&auto=webp"
        />
      </div>
      <div>
        <h3 class="title">lorem ipsum</h3>
        <div class="desc">
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
        </div>
        <div class="price">Rs 100</div>
        <div class="link">Shop now</div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img
          height="100"
          class="image"
          width="100"
          ngSrc="https://merchandising-assets.bestbuy.ca/bltc8653f66842bff7f/blt6b8181061871ba8b/651321322a06d7c905f4f311/wt-20231004-offer-pixel-watch2-2across-xs.jpg?width=828&quality=80&auto=webp"
        />
      </div>
      <div>
        <h3 class="title">lorem ipsum</h3>
        <div class="desc">
          lorem ipsumlorem ipsumlorem ipsumlorem ipsumlorem ipsum
        </div>
        <div class="price">Rs 100</div>
        <div class="link">Shop now</div>
      </div>
    </div>
  </div>
</section>
