<section class="contentContainer">
  <div class="featureGridContainer">
    <div class="item" *ngFor="let product of products">
      <div class="image">
        <img height="100" class="image" width="100" [ngSrc]="product.image" />
      </div>
      <div>
        <h3 class="title">{{ product.title }}</h3>
        <div class="desc">
          {{ product.description }}
        </div>
        <div class="price">Rs {{ product.price }}</div>
        <div class="link" (click)="goTo(product)">Shop now</div>
      </div>
    </div>
  </div>
</section>
