.contentContainer {
    padding: 20px;
    .added {
        cursor: pointer;
    }
    .top {
        display: flex;flex-direction: column;
        @media(min-width: 768px) {flex-direction: row;
        }
        .left {
            width: 100%;
            margin-bottom: 30px;
            @media(min-width: 768px) {
                width: 40%;
            }
        }
        .right {
            flex: 1;
            font-weight: bold;
            font-size: 20px;
            padding: 0 0;
            @media(min-width: 768px) {
                padding: 0 40px;
            }
            .title {
                font-size: 30px;
                font-weight: 500;
                line-height: 30px;
                margin-bottom: 20px;
                @media(min-width: 768px) {
                    font-size: 50px;
                    font-weight: 500;
                    line-height: 60px;
                }
            }
            .soldBy{
                font-weight: bold;
                margin-bottom: 20px;font-size: 16px;
                @media(min-width: 768px) {
                    font-size: 20px;
                }
            }
            .price {
                font-size: 30px;
                line-height: 30px;
                margin-bottom: 20px;
                font-weight: bold;
            }
            .discount {
                color: green;
                font-size: 30px;
                margin-bottom: 20px;
                line-height: 30px;
            }
        }
    }
    .bottom {
        .item {
            border-bottom: 1px solid lightgray;
            padding-bottom: 10px;
            margin-bottom: 10px;
            .heading {
                font-weight: bold;
                font-size: 32px;
                line-height: 32px;
                padding-bottom: 20px;
                padding-top: 20px;
            }
            .grid {
                .horiz {
                    display: flex;
                }
                .left {
                    background-color: lightgray;
                    padding: 10px;
                    flex: 1;
                }
                .right {
                    background-color: lightcyan;
                    padding: 10px;
                    flex: 1;
                }
            }
        }
    }
}