<div class="item">
  <div class="priceContainer">
    <div class="price">Product subtotal</div>
    <div class="price">Rs {{ productSubtotal }}</div>
  </div>
  <div class="priceContainer">
    <div class="price">Total discount</div>
    <div class="price">Rs {{ discount }}</div>
  </div>
  <div class="priceContainer">
    <div class="price">Shipping</div>
    <div class="price">Rs {{ shipping }}</div>
  </div>
  <div class="priceContainer">
    <div class="price">Taxes</div>
    <div class="price">Rs {{ taxes }}</div>
  </div>
</div>
<div class="item">
  <div class="priceContainer">
    <div class="price">Total</div>
    <div class="price">
      Rs {{ productSubtotal - discount + shipping + taxes }}
    </div>
  </div>
</div>

<div class="ctaBlock">
  <button mat-raised-button color="primary" routerLink="/payment">
    Checkout
  </button>
</div>
