<section class="contentContainer">
  <h2>Featured products</h2>
  <div class="featureGridContainer">
    <div class="item" *ngFor="let item of featuredProducts">
      <div class="image">
        <img height="100" class="image" width="100" [ngSrc]="item.image" />
      </div>
      <div>
        <h3 class="title">{{ item.title }}</h3>
        <div class="desc">
          {{ item.description }}
        </div>
        <div class="link" (click)="goTo(item)">Shop now</div>
      </div>
    </div>
  </div>
</section>
