.contentContainer {
    margin-bottom: 64px;
    padding: 50px;
    .featureGridContainer {
        display: grid;
        grid-template:
        "left right right" 1fr
        "left bottom1 bottom2" 1fr/2fr 1fr 1fr;
        gap: 24px;
            .left {
                grid-area:left;
                text-align: center;
                .featureBanner {
                    background: #ba7bd530;
                    padding-top: 80px;
                }
                .foregroundImageContainer {
                    text-align: center;
                }
            }
            .right {
                grid-area:right;
                text-align: center;
                .featureBanner {
                    background: rgb(180 102 213 / 39%);
                    display: flex;    justify-content: space-around;
                    padding-top: 60px;
                    .foregroundImageContainer {
                        text-align: right;
                    }
                    .bannerText {
                        font-size: 20px;
                    }
                    .bannerContent {
                        margin-top: 7%;
                    }
                    .btnwrapper {
                        margin-top: 30px;
                    }
                }
            }
            .bottom1 {
                grid-area:bottom1;
                text-align: center;
                .featureBanner {
                    background: rgb(154 30 207 / 45%);
                }
            }
            .bottom2 {
                grid-area:bottom2;
                text-align: center;
                .featureBanner {
                    background: rgb(154 30 207 / 45%);
                }
            }
            .left, .right, .bottom1, .bottom2 {
                position: relative;
            }
            .featureBanner {
                padding: 30px;
            }
            .featureBanner1 {
                padding: 30px;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                z-index: -1;
                bottom: 0;
            }
            h3 {
                font-size: 24px;
            }
            .ctaBlock, .ctaWrp, .btnwrapper {
                margin-top: 50px;
            }
    }
}