<section class="contentContainer">
  <div class="top">
    <div class="left">
      <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
        <mdb-carousel-item>
          <img
            src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/164/16497/16497749.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/164/16497/16497749_1.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </mdb-carousel-item>
        <mdb-carousel-item>
          <img
            src="https://multimedia.bbycastatic.ca/multimedia/products/500x500/164/16497/16497749_2.jpeg"
            class="d-block w-100"
            alt="..."
          />
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <div class="right">
      <h2 class="title">
        Unisex Photochromic Polarized Aviator Sunglasses with Case for
        Driving/Cycling
      </h2>
      <div class="rating">
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star</mat-icon>
        <mat-icon>star_outline</mat-icon>
      </div>
      <div class="model">Model Number: ced_42979812835573</div>
      <div class="soldBy">Sold and shipped by Gadget Lab Canada</div>
      <div class="price">Rs 3000</div>
      <div class="model">Discount</div>
      <div class="discount">20%</div>
      <div class="ctaBlock">
        <button mat-raised-button color="primary">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="item">
      <div class="heading">Rate this product</div>
      <div class="desc">
        <div class="rating">
          <mat-icon>star_outline</mat-icon>
          <mat-icon>star_outline</mat-icon>
          <mat-icon>star_outline</mat-icon>
          <mat-icon>star_outline</mat-icon>
          <mat-icon>star_outline</mat-icon>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="heading">About This Product</div>
      <div class="desc">
        <p>
          MATERIAL: 50 x 50 cm scarves made with 100% premium polyester silk
        </p>
        <p>
          We love how creative you are, so let us know how you have made use of
          these beautiful scarves. These scarves are polyester silk.
        </p>
        <p>
          USE: Cool and airy for the spring and summer seasons and useable all
          seasons as well as for accessorizing fashion handbags and as a neck
          scarf coming in unique yet durable styles for all seasons
        </p>
      </div>
    </div>
    <div class="item">
      <div class="heading">From the Manufacturer</div>
      <div class="desc">lorem</div>
    </div>
    <div class="item">
      <div class="heading">Specifications</div>
      <div class="desc">
        <div class="grid">
          <div class="horiz">
            <div class="left">Product Condition</div>
            <div class="right">Brand New</div>
          </div>
          <div class="horiz">
            <div class="left">Colour</div>
            <div class="right">Red</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
