<section class="contentContainer">
  <div class="top">
    <div class="left">
      <mdb-carousel [controls]="true" [indicators]="true" [animation]="'fade'">
        <mdb-carousel-item *ngFor="let image of product.images">
          <img [src]="image" class="d-block w-100" alt="..." />
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
    <div class="right">
      <h2 class="title">
        {{ product.title }}
      </h2>
      <div class="rating">
        <mat-icon *ngFor="let star of stars">star</mat-icon>
        <mat-icon *ngFor="let star of unStars">star_outline</mat-icon>
      </div>
      <div class="model">Model Number: {{ product.modelNumber }}</div>
      <div class="soldBy">Sold and shipped by: {{ product.soldBy }}</div>
      <div class="price">Rs {{ product.price }}</div>
      <div class="model">Discount</div>
      <div class="discount">{{ product.discountPercent }}%</div>
      <div class="ctaBlock">
        <button mat-raised-button color="primary">Add to cart</button>
      </div>
    </div>
  </div>
  <div class="bottom">
    <div class="item">
      <div class="heading">Rate this product</div>
      <div class="desc">
        <div class="rating">
          <mat-icon>star_outline</mat-icon>
          <mat-icon>star_outline</mat-icon>
          <mat-icon>star_outline</mat-icon>
          <mat-icon>star_outline</mat-icon>
          <mat-icon>star_outline</mat-icon>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="heading">About This Product</div>
      <div class="desc">
        <p *ngFor="let about of product.aboutThisProduct">
          {{ about }}
        </p>
      </div>
    </div>
    <div class="item">
      <div class="heading">From the Manufacturer</div>
      <div class="desc">{{ product.fromTheManufacturer }}</div>
    </div>
    <div class="item">
      <div class="heading">Specifications</div>
      <div class="desc">
        <div class="grid">
          <div class="horiz">
            <div class="left">Product Condition</div>
            <div class="right">
              {{ product.specifications.productCondition }}
            </div>
          </div>
          <div class="horiz">
            <div class="left">Colour</div>
            <div class="right">{{ product.specifications.color }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
