<div class="container" [formGroup]="form">
  <h2>Filters</h2>
  <app-filter-item-checkboxes
    (clicked)="categoryClicked($event, categories)"
    title="Category"
    [list]="categories"
    [form]="form"
  ></app-filter-item-checkboxes>
  <app-filter-item-checkboxes
    (clicked)="colorsClicked($event, colors)"
    title="Color"
    [list]="colors"
    [form]="form"
  ></app-filter-item-checkboxes>
  <app-filter-item-range
    title="Cost (Rs.)"
    [form]="form"
    [max]="maxCost"
    from="fromCost"
    to="toCost"
  ></app-filter-item-range>
  <app-filter-item-range
    [form]="form"
    title="Discount (Percent)"
    from="fromDiscount"
    to="toDiscount"
  ></app-filter-item-range>
</div>
