<mat-toolbar color="primary">
  <span routerLink="/">Y Company</span>
  <span class="spacer"></span>
  <form class="form desk">
    <mat-form-field class="full-width search">
      <mat-label>Search</mat-label>
      <input type="text" matInput placeholder="clothes" />
      <mat-icon matSuffix (click)="goto()">search</mat-icon>
    </mat-form-field>
  </form>
  <!--<button mat-icon-button class="icon" aria-label="icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>-->
  <button
    mat-icon-button
    class="icon"
    aria-label="icon-button with menu icon"
    [matMenuTriggerFor]="menu"
    #menuTrigger="matMenuTrigger"
    (click)="menuTrigger.openMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu" [overlapTrigger]="false" class="menu-custom">
    <span (click)="menuTrigger.closeMenu()">
      <a routerLink="/login">
        <button mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button> </a
      ><a routerLink="/register">
        <button mat-menu-item>
          <mat-icon>person_add</mat-icon>
          <span>Register</span>
        </button></a
      >
      <button mat-menu-item routerLink="/cart">
        <mat-icon>shopping_cart</mat-icon>
        <span>Cart</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </span>
  </mat-menu>
</mat-toolbar>

<form class="form mob">
  <mat-form-field class="full-width">
    <mat-label>Search</mat-label>
    <input type="text" matInput placeholder="clothes" />
    <mat-icon matSuffix routerLink="/search">search</mat-icon>
  </mat-form-field>
</form>
