.spacer {
    flex: 1 1 auto;
}
.login {
    margin-right: 10px;
}
.mob {
    width: 100%;
    display: block;
    @media(min-width: 768px) {
        display: none;
    }
    .full-width {
        width: 100%;        
    }
}
.desk {
    margin-top: 20px;
    display: none;
    @media(min-width: 768px) {
        display: block;
    }
}
::ng-deep .mat-mdc-menu-panel.menu-custom {
    background:#3f51b5 !important;
    color: white !important;
}
::ng-deep .mat-mdc-menu-item, ::ng-deep  .mat-mdc-menu-item .mat-icon-no-color, .mat-mdc-menu-item .mat-mdc-menu-submenu-icon {
    color: white !important;    
}
::ng-deep .search .mat-icon {
    color: black !important;
}