<form class="contentContainer" [formGroup]="form">
  <h1>Sign up</h1>
  <form class="form">
    <mat-form-field class="full-width">
      <mat-label>Email</mat-label>
      <input
        type="email"
        matInput
        placeholder="youremail@domain.com"
        formControlName="email"
      /><mat-error
        *ngIf="form.dirty && form.controls['email'].errors?.['required']"
        >Please enter correct email</mat-error
      >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" /><mat-error
        *ngIf="form.dirty && form.controls['password'].errors?.['required']"
        >Please enter password</mat-error
      >
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput type="password" formControlName="confirm" />
      <mat-error
        *ngIf="form.dirty && form.controls['confirm'].errors?.['required']"
        >Please enter password to confirm</mat-error
      >
    </mat-form-field>
  </form>
  <mat-error *ngIf="form.dirty && form.errors?.['mismatch']"
    >Passwords mismatch</mat-error
  >
  <div class="ctaBlock">
    <button
      mat-raised-button
      color="primary"
      [disabled]="form.invalid"
      (click)="register()"
    >
      Sign up
    </button>
  </div>
</form>
